body {
    background-color: rgb(50, 19, 19);

    max-height: fit-content;
    
}
.container{
    display: grid;
    height: 630px;
    width: 800px;
    grid-template-columns: .5fr 1fr 1fr 1fr;
    grid-template-rows: .1fr .1fr .1fr .8fr;
    grid-template-areas:
        "nav nav nav nav"
        "main main main main"
        "category tardis tardis tardis"
        "rightdoor tardis tardis tardis";
        
}
.container2 {
    display:grid;
    grid-column: 1fr;
    grid-row: 1fr 1fr 1fr 1fr;
    height: 40px;
    grid-template-areas: non
    "answer1"
    "answer2"
    "answer3"
    "answer4";
}
.answer1{
    grid-area: answer1;

}
.answer2{
    grid-area: answer2;

}

nav{
    background-color: rgb(203, 94, 94);
    grid-area: nav;
    height: 150px;
    border-style: inset;
    border-width: 10px;
   
}
main {
    background-color: rgb(255, 128, 0);
    grid-area: main;
    height: 80px;
    text-align:center;
    border-style: groove outset;
    font-family:Arial, Helvetica, sans-serif;
}

 h1 {
    background-color: rgb(2, 2, 148);
    color: whitesmoke;
    text-align: center; 
    font-family: 'Indie Flower', cursive;
    font-size: xx-large;
    font-style: bold;

}
h2{
    text-align: center;
    color: whitesmoke;
}
#tardis {
    background-color: rgba(189, 151, 224, 0.657);
    grid-area: tardis;
    height: 400px;
    width: 600px;
    border-width: 10px;
    border-style: groove;
    border-color: lightcoral;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size:x-large;
    

}

#Topic {
    height: 47px;
    width: 335px;
    background-color: rgb(170, 170, 224);
    grid-area: category;
    border-color: rgb(203, 223, 225);
    border-style: outset;
    grid-row-start: auto;
    position: center;
    font-size: larger;
    font-family: 'Indie Flower', cursive;
}
#rightdoor {
    background-color: rgb(136, 136, 222);
    height: 47px;
    width: 335px;
    grid-area: rightdoor;
    border-color: rgb(173, 173, 191);
    border-style: outset;
    grid-row-end: auto;
    font-family: 'Indie Flower', cursive;
}
.tg-modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; 
    display: flex;
    align-items: end;
     
}
.modal-content{
    width: 400px;
    height: 250px;
    background-color: white;
    border-radius: 40%;
    text-align: center;
    padding: 15px; 
    

}
.close{
    color:blue;
    cursor: pointer;
}
